<h4>Enquiry form</h4>
<hr/>
<div class="container">
  <div class="row" *ngIf="!submitted" >
    <div class="col-sm-12 text-left">
      <form [formGroup]="contactForm"  (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="subject">Subject of enquiry</label>
          <input [formControlName]="'subject'"
          type="text" id="subject" class="form-control"> 
          <span *ngIf="!contactForm.get('subject').valid && contactForm.get('subject').touched" class="help-block">
            <span *ngIf="contactForm.get('subject').errors['required']">
              This field is required!
            </span>
            <span *ngIf="!contactForm.get('subject').errors['required'] 
                         && contactForm.get('subject').errors['blankSpaces']">
              Empty spaces are not accepted.
            </span>
          </span>      
        </div>
        <div class="form-group">
          <label for="useremail">Your Email</label>
          <input [formControlName]="'useremail'"
          type="email" id="useremail" class="form-control">
          <span *ngIf="!contactForm.get('useremail').valid && contactForm.get('useremail').touched" class="help-block">
              <span *ngIf="contactForm.get('useremail').errors['required']">
                This field is required!
              </span>
              <span *ngIf="!contactForm.get('useremail').errors['required'] 
                           && contactForm.get('useremail').errors['email']">
                This is not a valid email.
              </span>
            </span>             
        </div>
        <hr/>
        <p>Foodcourt Enquired</p>
        <div class="form-check">
            <input [formControlName]="'fcenquired'" class="form-check-input" type="radio" id="fcenquired1" value="" checked>
            <label class="form-check-label" for="fcenquired1">
              None
            </label>
          </div>
          <div class="form-check">
            <input [formControlName]="'fcenquired'" class="form-check-input" type="radio" id="fcenquired2" value="Foodcourt 4 Koufu">
            <label class="form-check-label" for="fcenquired2">
              Foodcourt 4 Koufu
            </label>
          </div>
          <div class="form-check">
            <input [formControlName]="'fcenquired'" class="form-check-input" type="radio" id="fcenquired3" value="Foodcourt 6">
            <label class="form-check-label" for="fcenquired3">
              Foodcourt 6
            </label>
            <br/>
            <span *ngIf="!contactForm.get('fcenquired').valid 
            && contactForm.get('fcenquired').touched"
            class="help-block">
              You must select a foodcourt to enquire.
            </span>        
          </div>
          <br/>
        <div class="form-group">
          <label for="usermessage">Your Message</label>
          <textarea [formControlName]="'usermessage'"
           type="text" id="usermessage" rows="5" class="form-control"></textarea>          
        </div>
        <button [disabled]="!contactForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <hr/>
        <button routerLink="/feedbacklist" class="btn btn-primary">View previous enquiries</button>
      </form>
      <hr>      
    </div>
  </div>  
  <div class="row" *ngIf="submitted">
    {{ responseMsg }}<hr/>
    <button (click)="resetForm()" class="btn btn-primary" >Send another feedback</button>
  </div>
  <!-- <div class="row" *ngIf="submitted">
    <div class="col-sm-8 col-md-offset-2 text-left">
      <h3>Enquiry sent!</h3>
      <p>Subject of enquiry: {{ contactForm.value.subject }}</p>
      <p>Email: {{ contactForm.value.useremail }}</p>
      <p>Foodcourt enquired: {{ contactForm.value.fcenquired }}</p>
      <p>Message: {{ contactForm.value.usermessage }}</p>
    </div>
  </div>   -->

</div>