<div class="card">
  <div class="card-body">
    <h4 class="card-title">Welcome to SP Foodcourts!</h4>
    <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p>
    <a routerLink="/foodcourt-summary" class="btn btn-primary">View foodcourt information</a>
  </div>
  <hr/>
  <div class="card-body">
    <h4 class="card-title">Recent foodcourt updates</h4>
    <p class="card-text" *ngFor = "let new of newsArr" [appHoverHighlight] ="{background: 'red', text: 'white'}" 
    [appExitHighlight] ="{background: 'white', text: 'black'}"> 
      {{new.news}}
    </p>
  </div>
</div>